header {
  background-color: #376F7B;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-brand {
  margin: 15px;
  color: #fff !important;
}

.nav-link {
  border-radius: 0.25rem;
  color: #fff !important;
  border: 1px none !important;
  margin: 5px !important;
  padding: 5px 15px !important;
}

.nav-link:hover {
  background-color: #fff !important;
  color: #376F7B !important;
}

.nav-link.active {
  color: #376F7B !important;
}

.navbar-toggler {
  background-color: #fff !important;
}
