.card {
  width: 26rem !important;
}

.card-body {
  height: 225px;
}

.individualProject {
  margin: 5px;
}

.projectImages {
  height: 150px;
  width: auto;
  background-size: cover;
}

.projectButton {
  width: 100%;
}

.projectButtonHidden{
  visibility: hidden;
}

.btn-primary {
  background-color: #A4CDD6 !important;
  border-color: #A4CDD6 !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: #376F7B !important;
  border-color: #376F7B !important;
  color: #fff !important;
}
