@media only screen and (max-width: 767px) {
  .projectContainer {
    padding-top: 250px;
  }
}

.individualProject {
  margin: 5px;
}

.projectImages {
  height: 150px;
  width: auto;
  background-size: cover;
}
