.card {
  width: 26rem !important;
}

.card-body {
  height: 225px;
}

.individualProject {
  margin: 5px;
}

.projectImages {
  height: 150px;
  width: auto;
  background-size: cover;
}

.projectButton {
  width: 100%;
}
