.renderContainer {
  background-color: rgba(164, 205, 214, 0.3);
}

.adjustedHeight {
  height: auto !important;
}

.bg-image {
  content: '';
  background-size: cover;
  overflow: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.pageRender {
  padding-top: 87px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageRender,
.aboutRender,
.contactRender {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 2rem;
  margin: 5px;
}

.aboutRender {
  width: 70vw;
}

.contactLinks li {
  margin: 0px 10px 0px 10px;
  padding-right: 35px;
  display: inline;
}

ul {
  margin-bottom: 0rem !important;
}

#successMessage {
  margin: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GitHub Icon */
#github::before {
  display: inline-block;
  content: '';
  background-image: url('./assets/GitHub-Mark-120px-plus.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 3px;
  height: 20px;
  width: 20px;
}

/* LinkedIn Icon */
#linkedin::before {
  display: inline-block;
  content: '';
  background-image: url('./assets/linkedin-logo.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 3px;
  height: 20px;
  width: 20px;
}

form ul {
  width: 100%;
  margin: auto;
  box-shadow: none;
}

li {
  list-style-type: none;
}

label {
  display: inline-block;
  width: 17%;
  text-align: right;
  vertical-align: top;
  margin-right: 5px;
}

input,
textarea {
  display: inline-block;
  width: 75%;
}

.selfPhoto {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

@media only screen and (max-width: 991px) {
  .imageWrapper {
    display: flex;
    justify-content: center;
  }

  .selfPhoto {
    height: 268px;
    width: auto;
  }
}
