.renderContainer {
  background-color: rgba(164, 205, 214, 0.3);
}

.bg-image {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.pageRender {
  padding-top: 87px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageRender, .aboutRender {
  background-color: rgba(255, 255, 255, .7);
  padding: 15px;
  border-radius: 2rem;
}

.aboutRender {
  width: 70vw;
}

.selfPhoto {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

@media only screen and (max-width: 991px) {
  .imageWrapper {
    display: flex;
    justify-content: center;
  }

  .selfPhoto {
    height: 268px;
    width: auto;
  }
}
