@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro&display=swap');

html {
  height: 100vh;
  width: 100vw;
  background-color: #A4CDD6;
  font-family: 'Montserrat', 'Source Code Pro', sans-serif, monospace;
}

html::before {
  content: "";
  background-image: url('./assets/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  z-index: -1;
}
